#html {
  background-color: lightblue;
}

#menuSpace {
  display: flex;
  margin-left: 50px;
}

#menuImg1 {
  height: 550px;
  width: 400px;
  border: 2px solid;
  background-image: url(menuBackground.png);
  margin-left: 50px;
}

#menuItems1 {
  height: 300px;
  width: 250px;
  margin: 30px;
  padding: 25px;
  padding-bottom: 165px;
  border: 2px solid;
  background-color: darkseagreen;
}

#menuImg2 {
  height: 550px;
  width: 400px;
  border: 2px solid;
  background-image: url(menuBackground.png);
  margin-left: 50px;
  margin-right: 50px;
}

#menuItems2 {
  height: 300px;
  width: 250px;
  margin: 30px;
  padding: 25px;
  padding-bottom: 165px;
  border: 2px solid;
  background-color: darkseagreen;
}

#menuImg3 {
  height: 550px;
  width: 400px;
  border: 2px solid;
  background-image: url(menuBackground.png);
}

#menuItems3 {
  height: 300px;
  width: 250px;
  margin: 30px;
  padding: 25px;
  padding-bottom: 165px;
  border: 2px solid;
  background-color: darkseagreen;
}

.textStyle {
  font-size: 18px;
}