.body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#Orange {
    background-color: #FFA500;
}

#Apple {
    background-color: #8b0202;
}

#Pear {
    background-color: #C9CC3F;
}